.box {
	background-color: black;
	border-radius: 1em;
	padding: 2em;
	margin: auto;
	width: 10em;
	height: auto;
}
.post {
	background-color: black;
	margin: auto;
	width: 3em;
	height: 20em;
}

.red {
	background-color: red;
	box-shadow: 0em 0em 5em 2em #f0efbc;
	margin: 1em auto;
	width: 6em;
	height: 6em;
	border-radius: 3em;
}
.yellow {
	background-color: yellow;
	box-shadow: 0em 0em 5em 2em #f0efbc;
	margin: 1em auto;
	width: 6em;
	height: 6em;
	border-radius: 3em;
}
.green {
	background-color: green;
	box-shadow: 0em 0em 5em 2em #f0efbc;
	margin: 1em auto;
	width: 6em;
	height: 6em;
	border-radius: 3em;
}

.grey {
	background-color: grey;
	margin: 1em auto;
	width: 6em;
	height: 6em;
	border-radius: 3em;
}
